<footer class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="text-center">foot</div>
</footer>
<script type="text/javascript" src="javascripts/jquery-1.8.0.js"></script>
<script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
</body>
</html>