<!DOCTYPE html>
<html>
<head>
    <title>注册成功</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="stylesheets/reset.css"/>
</head>
<body>
<div class="container">
    <% include('include/header')%>
    <div class="container mt">
        1111111111111111111111111111111111111
    </div>
    <% include('include/footer')%>
</div>
</div>
<script src="javascripts/jquery-1.8.0.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
</body>
</html>