<%- include('include/header') %>
<div style="margin-top: 80px;">
    <ul>

        <% for (var i = 0;i < names.length; i++) { %>
        <li></li>
        <li><%= names[i].stu_name %></li>
        <% } %>
    </ul>
</div>
<%- include('include/footer') %>