<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="stylesheets/index.css"/>
</head>
<body>
    <div id="box">
        <h3>this is login page 这是登录页</h3>
        <form action="/userlogin" method="post">
            用户名: <input type="text" placehoder="请输入用户名" name="username"/><br/><br/>
            密码: <input type="text" placehoder="请输入密码" name="password"/><br/><br/>
            <input type="submit"/>
        </form>
    </div>

    <script src="javascript/jquery-1.8.3.min.js"></script>
</body>
</html>